
<html>
<head>
<link rel="stylesheet" href="/css/uikit.almost-flat.css">
</head>
<body>
<div class="uk-container">
<nav class="uk-navbar uk-margin-large-bottom">
    <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">Infinit</a>
    <ul class="uk-navbar-nav uk-hidden-small">
        <li>
            <a href="layouts_frontpage.html">Parts</a>
        </li>
        <li>
            <a href="layouts_portfolio.html">Assemblies</a>
        </li>
        <li>
            <a href="layouts_blog.html">Events</a>
        </li>
    </ul>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
</nav>

${content}

</div>
</body>
</html>