<h1>
  Part:
  <a href='/view/component/${part.revision.component.id}'>${part.revision.component.name}</a>
  - <a href='/view/revision/${part.revision.id}'>${part.revision.name}</a>
  - #${part.id}
</h1>

<div class="uk-panel uk-panel-box uk-panel-box-primary">
  <h3>Description:</h3>
  <p class="uk-text-primary">${part.description}</p>
</div>

% if len(part.installations) > 0:
  <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed">
    <caption>Installations</caption>
    <thead>
      <tr>
        <th>
          Assembly
        </th><th>
          Date On
        </th><th>
          Date Off
        </th><th>
          Description
        </th>
      </tr>
    </thead>
    % for installation in part.installations:
      <tr onclick="window.document.location='/view/event/${installation.id}';">
        <td>
          <a href='/view/assembly/${installation.assembly.id}'>${installation.assembly.name}</a>
        </td>

        <td>
          ${installation.start}
        </td>
        <td>
          ${installation.end}
        </td>

        <td>
          <a>${ (installation.description[:18] + '..') if len(installation.description) > 20 else installation.description}</a>
        </td>
      </tr>
    % endfor
  </table>
% else:
  <div class="uk-alert uk-alert-warning">No installations were found for this revision.</div>
% endif


% if len(part.total_events) > 0:
  <table class="uk-table uk-table-striped uk-table-hover uk-table-condensed">
    <caption>Events</caption>
    <thead>
      <tr>
        <th>
          ID
        </th><th>
          Date
        </th><th>
          Description
        </th><th>
          Drive Hours
        </th>
      </tr>
    </thead>
    % for event in part.total_events:
      <tr onclick="window.document.location='/view/event/${event.id}';">
        <td>
          <a>#${event.id}</a>
        </td>

        <td>
          ${event.start}
        </td>

        <td>
          <a>${ (event.description[:18] + '..') if len(event.description) > 20 else event.description}</a>
        </td>
        
        

        <td>
          % if event.end!=None and event.start!=None and event.end != event.start:
            ${ "{0:.1f}".format((event.end-event.start).total_seconds() /3600) }
          % endif
        </td>
      </tr>
    % endfor
  </table>
% else:
  <div class="uk-alert uk-alert-warning">No events were found for this revision.</div>
% endif
